In [1]:
import os 
os.getcwd()

'c:\\Users\\x-ibah\\Desktop\\Franklin\\data_612'

In [43]:
# import libraries  for data manipulation  
# why pandas
# pandas is a fast, powerful, flexible and 
# easy to use open source data analysis and 
# data manipulation library built on top of 
# the Python programming language. 
import pandas as pd

In [44]:
# load the state drug utilization data  
df = pd.read_csv('State_Drug_Utilization_Data_2010.csv')

In [45]:
# display the first 10 rows of the data  
df.head(10)

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.000,...,1,4.08,4.08,0.00,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.000,...,8,103.33,103.33,0.00,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388
2,2568076,FFSU,UT,46987,323,11,2010,2,Kadian Ora,120.000,...,2,905.24,905.24,0.00,4/1,04/01/2010,44.2853,-99.4632,"(44.2853, -99.4632)",46987032311
3,491263,FFSU,MN,781,5185,1,2010,4,LEVOTHYROX,1114.000,...,34,312.22,306.22,6.00,10/1,10/01/2010,43.3504,-84.5603,"(43.3504, -84.5603)",781518501
4,836489,FFSU,XX,51552,809,6,2010,2,COLD CREAM,226.089,...,7,52.87,52.87,0.00,4/1,04/01/2010,NaN,NaN,NaN,51552080906
5,2468555,FFSU,WI,143,1785,1,2010,3,BUTALBITAL,5138.000,...,82,1071.43,951.92,119.51,7/1,07/01/2010,37.7680,-78.2057,"(37.768, -78.2057)",143178501
6,73349,FFSU,WI,45802,257,42,2010,1,MOMETASONE,12030.000,...,92,2527.49,2352.86,174.63,1/1,01/01/2010,37.7680,-78.2057,"(37.768, -78.2057)",45802025742
7,1166159,FFSU,MI,527,586,10,2010,2,DICYCLOMIN,120.000,...,3,14.43,14.43,0.00,4/1,04/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",527058610
8,2326672,FFSU,NE,68382,30,1,2010,1,METFORMIN,2029.000,...,35,367.55,367.55,0.00,1/1,01/01/2010,35.6411,-79.8431,"(35.6411, -79.8431)",68382003001
9,413825,FFSU,MI,172,4366,60,2010,3,LABETALOL,4657.000,...,51,1605.45,1556.07,49.38,7/1,07/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",172436660

In [8]:
# display the last 10 rows of the data
df.tail(10)

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
156210,2766345,FFSU,HI,93,811,1,2010,1,NORTRIPTYL,30.0,...,1,8.89,8.89,0.00,1/1,01/01/2010,32.9866,-83.6487,"(32.9866, -83.6487)",93081101
156211,725194,FFSU,CO,67253,900,11,2010,4,ALPRAZOLAM,2045.0,...,43,827.52,797.52,30.00,10/1,10/01/2010,36.1700,-119.7462,"(36.17, -119.7462)",67253090011
156212,2143770,FFSU,ID,68382,342,1,2010,3,ROPINIROLE,150.0,...,5,96.93,96.93,0.00,7/1,07/01/2010,42.0046,-93.2140,"(42.0046, -93.214)",68382034201
156213,785538,FFSU,NE,49348,295,98,2010,1,SM TUSSIN,1770.0,...,5,40.90,40.90,0.00,1/1,01/01/2010,35.6411,-79.8431,"(35.6411, -79.8431)",49348029598
156214,317999,FFSU,NJ,50111,647,2,2010,1,FLUOXETINE,281.0,...,11,81.81,81.81,0.00,1/1,01/01/2010,41.1289,-98.2883,"(41.1289, -98.2883)",50111064702
156215,2752214,MCOU,XX,63868,17,1,2010,2,QC DOCUSAT,540.0,...,10,41.15,41.15,0.00,4/1,04/01/2010,NaN,NaN,NaN,63868001701
156216,2519195,MCOU,MI,121,489,10,2010,4,DIPHENHYDR,1970.0,...,12,16.48,16.48,0.00,10/1,10/01/2010,44.6074,-69.3977,"(44.6074, -69.3977)",121048910
156217,815768,MCOU,MD,60432,133,25,2010,4,CLOBETASOL,75.0,...,3,32.24,30.24,2.00,10/1,10/01/2010,42.2373,-71.5314,"(42.2373, -71.5314)",60432013325
156218,2029158,FFSU,DE,88,1109,47,2010,4,ALLEGRA (F,60.0,...,2,152.68,146.68,6.00,10/1,10/01/2010,38.8964,-77.0262,"(38.8964, -77.0262)",88110947
156219,2799238,FFSU,DE,29,1527,25,2010,1,BACTROBAN(,360.0,...,12,896.33,705.82,190.51,1/1,01/01/2010,38.8964,-77.0262,"(38.8964, -77.0262)",29152725

In [9]:
# print the column names of the data
df.columns

Index(['Unnamed: 0', 'Utilization Type', 'State', 'Labeler Code',
       'Product Code', 'Package Size', 'Year', 'Quarter', 'Product Name',
       'Units Reimbursed', 'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [10]:
# print the type of the data
type(df)

pandas.core.frame.DataFrame

In [11]:
# get the number of rows and columns
# shape is an attribute, not a method
df.shape

(156220, 21)

In [12]:
# get column names
df.columns

Index(['Unnamed: 0', 'Utilization Type', 'State', 'Labeler Code',
       'Product Code', 'Package Size', 'Year', 'Quarter', 'Product Name',
       'Units Reimbursed', 'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [13]:
# get the dtype of each column
df.dtypes

Unnamed: 0                          int64
Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                        int64
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions             int64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                 int64
dtype: object

In [55]:
# sample 20 rows from the data  
# Since data is large, I decided to sample a small portion of the data
sample_df = df.sample(20)

In [57]:
# group the data by Product Name and calculate the mean number of prescriptions 
# save the result in a new dataframe called grouped 
# sort the values in descending order  
grouped = round(sample_df.groupby(['Product Name'])['Number of Prescriptions'].mean())
grouped.sort_values(ascending=False)

Product Name
ZYPREXA       9615.0
LAMOTRIGIN     586.0
AMITRIPTYL     398.0
SUPRAX 400     151.0
CYCLOSPORI     141.0
NIZATIDINE     103.0
LUNESTA         56.0
NASACORT A      41.0
CROMOLYN 2      35.0
PROCHLORPE      24.0
MARCAINE        16.0
ACETAMINOP       5.0
FUROSEMIDE       3.0
Urea 50% E       3.0
Finasterid       2.0
ISOSORBIDE       1.0
IBUPROFEN        1.0
HYDROMORPH       1.0
POTASSIUM        1.0
BICALUTAMI       1.0
Name: Number of Prescriptions, dtype: float64