In [2]:
import pandas as pd
import numpy as  np

In [3]:
teams = pd.read_csv('../datasets/teams.csv')

In [4]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          2925 non-null   int64
 1   lgID            2875 non-null   object
 2   teamID          2925 non-null   object
 3   franchID        2925 non-null   object
 4   divID           1408 non-null   object
 5   Rank            2925 non-null   int64
 6   Ghome           2526 non-null   float64
 7   DivWin          1380 non-null   object
 8   WCWin           744 non-null    object
 9   LgWin           2897 non-null   object
 10  WSWin           2568 non-null   object
 11  name            2925 non-null   object
 12  park            2891 non-null   object
 13  attendance      2646 non-null   float64
 14  BPF             2925 non-null   int64
 15  PPF             2925 non-null   int64
 16  teamIDBR        2925 non-null   object
 17  teamIDlahman45  2925 non-null   object
 18  teamIDretro     2925 non-null   object
dtypes: float64(2), int64(4), object(13)
memory usage: 434.3+ KB

In [5]:
teams.sample(10).groupby('lgID')['Ghome'].mean()

lgID
AL    77.000000
NL    79.142857
Name: Ghome, dtype: float64

In [15]:
type(teams)

pandas.core.frame.DataFrame

In [18]:
teams.dtypes

yearID              int64
lgID               object
teamID             object
franchID           object
divID              object
Rank                int64
Ghome             float64
DivWin             object
WCWin              object
LgWin              object
WSWin              object
name               object
park               object
attendance        float64
BPF                 int64
PPF                 int64
teamIDBR           object
teamIDlahman45     object
teamIDretro        object
dtype: object

In [6]:
teams.describe()

,yearID,Rank,Ghome,attendance,BPF,PPF
count,2925.000000,2925.000000,2526.000000,2.646000e+03,2925.000000,2925.000000
mean,1957.599316,4.061538,78.585511,1.390692e+06,100.193162,100.214701
std,42.505220,2.303934,4.617874,9.604662e+05,4.924598,4.851388
min,1871.000000,1.000000,44.000000,6.088000e+03,60.000000,60.000000
25%,1921.000000,2.000000,77.000000,5.538080e+05,97.000000,97.000000
50%,1966.000000,4.000000,81.000000,1.200656e+06,100.000000,100.000000
75%,1995.000000,6.000000,81.000000,2.081326e+06,103.000000,103.000000
max,2019.000000,13.000000,84.000000,4.483350e+06,129.000000,141.000000

(2925, 19)

In [7]:
teams.count()

yearID            2925
lgID              2875
teamID            2925
franchID          2925
divID             1408
Rank              2925
Ghome             2526
DivWin            1380
WCWin              744
LgWin             2897
WSWin             2568
name              2925
park              2891
attendance        2646
BPF               2925
PPF               2925
teamIDBR          2925
teamIDlahman45    2925
teamIDretro       2925
dtype: int64

In [25]:
teams.shape[0] - teams.count()

yearID               0
lgID                50
teamID               0
franchID             0
divID             1517
Rank                 0
Ghome              399
DivWin            1545
WCWin             2181
LgWin               28
WSWin              357
name                 0
park                34
attendance         279
BPF                  0
PPF                  0
teamIDBR             0
teamIDlahman45       0
teamIDretro          0
dtype: int64

In [8]:
# dropping divID it cointains 52% missing values
# dropping DivWin it cointains 53% missing values
# dropping WCWin: it cointains 75% missing values
teams = teams.drop(['divID', 'DivWin', 'WCWin'], axis=1)

In [37]:
teams.count()

yearID            2925
lgID              2875
teamID            2925
franchID          2925
Rank              2925
Ghome             2526
LgWin             2897
WSWin             2568
name              2925
park              2891
attendance        2646
BPF               2925
PPF               2925
teamIDBR          2925
teamIDlahman45    2925
teamIDretro       2925
dtype: int64

In [9]:
columns_to_refill = ['yearID', 'Rank', 'Ghome', 'BPF', 'PPF']
column_means = teams[columns_to_refill].mean()
teams[columns_to_refill] = teams[columns_to_refill].fillna(column_means)
teams.count()

yearID            2925
lgID              2875
teamID            2925
franchID          2925
Rank              2925
Ghome             2925
LgWin             2897
WSWin             2568
name              2925
park              2891
attendance        2646
BPF               2925
PPF               2925
teamIDBR          2925
teamIDlahman45    2925
teamIDretro       2925
dtype: int64

In [10]:
teams.rename(columns={'yearID': 'year',
                     'lgID': 'state',
                      'name': 'team'}, 
            inplace=True)

In [62]:
# dropping the rest of missing vales
teams.dropna()

,year,state,teamID,franchID,Rank,Ghome,LgWin,WSWin,team,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
240,1890,NL,BRO,LAD,1,78.585511,Y,N,Brooklyn Bridegrooms,Washington Park II,121412.0,101,97,BRO,BRO,BRO
242,1890,NL,BSN,ATL,5,78.585511,N,N,Boston Beaneaters,South End Grounds II,147539.0,108,105,BSN,BSN,BSN
244,1890,NL,CHN,CHC,2,78.585511,N,N,Chicago Colts,West Side Park I,102536.0,104,102,CHC,CHN,CHN
246,1890,NL,CIN,CIN,4,78.585511,N,N,Cincinnati Reds,League Park I in Cincinnati,131980.0,101,101,CIN,CIN,CIN
247,1890,NL,CL4,CLV,7,78.585511,N,N,Cleveland Spiders,National League Park,47478.0,94,97,CLV,CL4,CL4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,2019,NL,SLN,STL,1,81.000000,N,N,St. Louis Cardinals,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,2019,AL,TBA,TBD,2,81.000000,N,N,Tampa Bay Rays,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,2019,AL,TEX,TEX,3,81.000000,N,N,Texas Rangers,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,2019,AL,TOR,TOR,4,81.000000,N,N,Toronto Blue Jays,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,2019,NL,WAS,WSN,2,81.000000,Y,Y,Washington Nationals,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [25]:
# set index by team columns
# teams.set_index('team', inplace=True)
teams.reset_index(inplace=True)
teams

,team,year,state,teamID,franchID,Rank,Ghome,LgWin,WSWin,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,Boston Red Stockings,1871,NaN,BS1,BNA,3,78.585511,N,NaN,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,Chicago White Stockings,1871,NaN,CH1,CNA,2,78.585511,N,NaN,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,Cleveland Forest Citys,1871,NaN,CL1,CFC,8,78.585511,N,NaN,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,Fort Wayne Kekiongas,1871,NaN,FW1,KEK,7,78.585511,N,NaN,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,New York Mutuals,1871,NaN,NY2,NNA,5,78.585511,N,NaN,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,St. Louis Cardinals,2019,NL,SLN,STL,1,81.000000,N,N,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,Tampa Bay Rays,2019,AL,TBA,TBD,2,81.000000,N,N,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,Texas Rangers,2019,AL,TEX,TEX,3,81.000000,N,N,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,Toronto Blue Jays,2019,AL,TOR,TOR,4,81.000000,N,N,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,Washington Nationals,2019,NL,WAS,WSN,2,81.000000,Y,Y,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [21]:
teams.shape[0] - teams.count()

year                0
state              50
teamID              0
franchID            0
Rank                0
Ghome               0
LgWin              28
WSWin             357
park               34
attendance        279
BPF                 0
PPF                 0
teamIDBR            0
teamIDlahman45      0
teamIDretro         0
dtype: int64

In [26]:
# dropping duplicates
teams.drop_duplicates()
teams # it seems like this dataset does not contain any duplicates

,team,year,state,teamID,franchID,Rank,Ghome,LgWin,WSWin,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,Boston Red Stockings,1871,NaN,BS1,BNA,3,78.585511,N,NaN,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,Chicago White Stockings,1871,NaN,CH1,CNA,2,78.585511,N,NaN,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,Cleveland Forest Citys,1871,NaN,CL1,CFC,8,78.585511,N,NaN,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,Fort Wayne Kekiongas,1871,NaN,FW1,KEK,7,78.585511,N,NaN,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,New York Mutuals,1871,NaN,NY2,NNA,5,78.585511,N,NaN,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,St. Louis Cardinals,2019,NL,SLN,STL,1,81.000000,N,N,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,Tampa Bay Rays,2019,AL,TBA,TBD,2,81.000000,N,N,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,Texas Rangers,2019,AL,TEX,TEX,3,81.000000,N,N,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,Toronto Blue Jays,2019,AL,TOR,TOR,4,81.000000,N,N,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,Washington Nationals,2019,NL,WAS,WSN,2,81.000000,Y,Y,Nationals Park,2259781.0,106,104,WSN,MON,WAS

In [30]:
teams.to_csv('team_2.0.csv', index=False)
pd.read_csv('team_2.0.csv')

,team,year,state,teamID,franchID,Rank,Ghome,LgWin,WSWin,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,Boston Red Stockings,1871,NaN,BS1,BNA,3,78.585511,N,NaN,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,Chicago White Stockings,1871,NaN,CH1,CNA,2,78.585511,N,NaN,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,Cleveland Forest Citys,1871,NaN,CL1,CFC,8,78.585511,N,NaN,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,Fort Wayne Kekiongas,1871,NaN,FW1,KEK,7,78.585511,N,NaN,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,New York Mutuals,1871,NaN,NY2,NNA,5,78.585511,N,NaN,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,St. Louis Cardinals,2019,NL,SLN,STL,1,81.000000,N,N,Busch Stadium III,3480393.0,98,97,STL,SLN,SLN
2921,Tampa Bay Rays,2019,AL,TBA,TBD,2,81.000000,N,N,Tropicana Field,1178735.0,97,96,TBR,TBA,TBA
2922,Texas Rangers,2019,AL,TEX,TEX,3,81.000000,N,N,Globe Life Park in Arlington,2132994.0,111,112,TEX,TEX,TEX
2923,Toronto Blue Jays,2019,AL,TOR,TOR,4,81.000000,N,N,Rogers Centre,1750114.0,97,98,TOR,TOR,TOR
2924,Washington Nationals,2019,NL,WAS,WSN,2,81.000000,Y,Y,Nationals Park,2259781.0,106,104,WSN,MON,WAS